@font-face {
  font-family: "MagicDreams";
  src: url("../asset/font/Magic-Dreams.ttf");
}
#header h1 {
  padding-top: 0px;
}
body {
  font-family: MagicDreams;
  margin: 0;
}
p,
h3 {
  -webkit-text-stroke: 0.2px #05ff00;
}
#tnav {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  background-color: #545353;
}
#tnav li {
  display: inline;
  font-size: 32px;
}
#tnav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #f2f2f2;
  transition: 0.4s;
}
#tnav a:hover {
  background-color: #1cff02;
  color: #000;
}
#tnav a.active {
  background-color: #13c000;
  color: #000;
}

#tnav img {
  height: 28px;
}

/* .sticky{
    position: fixed;
    top: 0;
    width: 100%;
} */

footer {
  text-align: center;
}
