@font-face {
  font-family: "MagicDreams";
  src: url("../asset/font/Magic-Dreams.ttf");
}
#header h1 {
  padding-top: 0px;
}
body {
  font-family: MagicDreams;
  margin: 0;
}
body h1,
h2,
h3,
p {
  text-align: center;
}
h1 {
  font-size: xx-large;
}
h3 {
  font-size: x-large;
  -webkit-text-stroke: 0.2px #000;
}
#tnav {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  background-color: #545353;
}
#tnav li {
  display: inline;
  font-size: 32px;
}
#tnav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #f2f2f2;
  transition: 0.4s;
}
#tnav a:hover {
  background-color: #1cff02;
  color: #000;
}
#tnav a.active {
  background-color: #13c000;
  color: #000;
}

#tnav img {
  height: 28px;
}

#home,
#travel,
#package,
#contact {
  background-color: #545353;
}

#portfolio,
#review,
#merch {
  background-color: #e5e5e5;
}

#home,
#travel,
#package,
#contact,
h1 + h2 + h3 {
  -webkit-text-stroke: 0.2px #000;
}

#home,
#travel,
#package,
#contact p {
  color: #05ff00;
}

#portfolio,
#review,
#merch p {
  color: black;
}

/* HOME PAGE*/
#home .parallax {
  height: auto;
  width: 100%;
}
#home .welcome {
  background-color: #545353;

  position: relative;
  text-align: center;
  color: #05ff00;
}
#home .welcome h1 {
  font-size: 5vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px black;
}
#home .welcome .brand {
  position: absolute;
  bottom: 5%;
  left: 10px;
  height: 20%;
}
#home .info {
  background-color: #545353;
  height: auto;
}
#home .info-text-img {
  margin-left: 10%;
  margin-right: 10%;
}
#home h1,
p {
  text-align: center;
}
#home .info img {
  position: relative;
  height: 15vw;
  float: left;
  margin: 5px;
}
#home .mapouter {
  margin: auto;
  width: 60%;
}

#travel #galleryView {
  text-align: center;
}
#travel #galleryView .gallery {
  display: inline-block;
}
#travel #galleryView .gallery img {
  max-width: 350px;
}
#travel #galleryView .gallery .desc {
  padding: 15px;
  text-align: center;
}

/* Package Page */
#package .package-images {
  text-align: center;
}

/* Merch Page*/
#merch .store img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Contact Page */
#contact .info h3 {
  text-align: left;
}

#contact table {
  margin-left: auto;
  margin-right: auto;
}

#contact .mapouter {
  margin: auto;
  width: 60%;
  position: relative;
  text-align: right;
  height: 560px;
  width: 940px;
}
#contact .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 560px;
  width: 940px;
}

#contact .contact-form {
  position: relative;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

#contact input {
  font-size: 0.875em;
  width: 600px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  text-align: center;
  outline: none;
  color: black;
  border: solid 1px black;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#contact input:hover {
  background: #a8a7a7;
  color: black;
}

#contact textarea {
  text-align: center;
  width: 600px;
  max-width: 600px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  outline: none;
  color: #a8a7a7;
  font-size: 0.875em;
  border: solid 1px black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#contact textarea:hover {
  background: #a8a7a7;
  color: black;
}

#contact #submit {
  width: 632px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-size: 0.875em;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}

#contact #submit:hover {
  color: black;
}

@media screen and (max-width: 600px) {
  #home .info-text-img p {
    font-size: 18px;
  }
}

footer {
  text-align: center;
}
