@font-face {
    font-family: 'MagicDreams';
    src: url('../asset/font/Magic-Dreams.ttf');
}   
#header  h1{
    padding-top: 0px;
}
body{
    font-family: MagicDreams;
    margin: 0;
}
.top-nav{
    margin:0;
    padding:0;
    border: 0;
    text-align:center;
    background-color: #545353;
}
.top-nav li{    
    display:inline;
    font-size: 32px;
}
.top-nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #f2f2f2;
    transition: .4s;
}
.top-nav a:hover {
    background-color: #1CFF02;
    color: #000;
}
.top-nav a.active{
    background-color: #13c000;
    color: #000;
}

.top-nav img {
    height: 28px;
}

footer{
    text-align: center;
}